:root {
    --bg-header: #ffffff;
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --White: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

@font-face {
    font-family: 'Outfit';
    src: URL('/assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    src: URL('/assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Outfit';
    src: URL('/assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Young Serif';
    src: URL('/assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');

}

html {
    box-sizing: border-box;
}


body {
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container {
    min-width: 375px;
    background-color: var(--White);

}

img {
    width: 100%;
}

.card {
    margin: 40px 32px 40px;
}

.box>h1 {
    font-family: 'Young Serif';
    font-size: 40;
}

.box>p {
    font-family: 'Outfit';
    font-size: 36;
    color: var(--stone-600);
}

.preparation {
    background-color: var(--rose-50);
    padding: 24px;
    border-radius: 12px;
    font-family: 'Outfit';
    margin: 32px 0 32px;
}

.preparation>h2 {
    font-weight: 600;
    font-size: 20px;
    color: var(--rose-800);
}

.preparation>ul li::marker {
    color: var(--rose-800);
}

.preparation>ul>li {
    color: var(--stone-600);
}

.ingredients {
    margin: 32px 0 32px;
}

.ingredients>h2 {
    font-family: 'Young Serif';
    font-size: 28px;
    color: var(--brown-800);
}

.ingredients>ul>li {
    font-family: 'Outfit';
    font-size: 16px;
    color: var(--stone-600);
    line-height: 30px;
}

.instructions>h2 {
    font-family: 'Young Serif';
    font-size: 28px;
    color: var(--brown-800);
}

.instructions>ol>li {
    font-family: 'Outfit';
    color: var(--stone-600);
}

.instructions>ol li::marker {
    content: counter(list-item) '. ';
    color: var(--brown-800);
    font-size: 16px;
    font-weight: 800;
}

.instructions>ol li {
    padding-left: 16px;
}

.nutrition>h2 {
    font-family: 'Young Serif';
    font-size: 28px;
    color: var(--brown-800);
}

.nutrition>p {
    font-family: 'Outfit';
    font-size: 16px;
    color: var(--stone-600);
}

table {
    font-family: 'Outfit';
    font-size: 16px;
    color: var(--stone-600);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

.table-nutrition,
tr,
td {
    border-bottom: 1px solid var(--stone-150);
}

tr {
    padding: 10px 0;
}

td {
    padding: 10px 0;
    padding-left: 18px;
}

td>b {
    color: var(--brown-800);
}
/* @media screen and (max-width:768px) {
   
} */

 @media screen and (min-width:768px){
    body {
        background-color: var(--stone-100);
    }
    .container {
        max-width: 616px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 736px;
    }
}